<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/app/css/ErrorStyles.css" rel="stylesheet" />
    
    <title>@ViewBag.Title</title>
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <div><form asp-action="Logout" asp-controller="Auth"><input class="pull-right" type="submit" value="Выйти" /></form></div>
    }
    
    <div>
        @if (TempData["message"]!= null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        @RenderBody()
    </div>
    @RenderSection("Scripts", false);
</body>
</html>
